:root{
    --background-color:#746B2A;
    --accent-orange:#DC5D10;
    --accent-beige:#D0B88D;
    --accent-lt-purp:#46374B;
    --accent-dk-purp:#222023;
}

/**--------Repsonsive Image---------*/



/* -------- Utility Class ---------*/



.container{
  margin:auto;
  padding:40px;
  max-width: 980px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
font-family: "Cormorant Garamond", serif;
background-color: var(--accent-dk-purp);
}

main {
 background-color: var(--background-color);
 width:80vw;
 margin: 40px auto 40px auto;
 max-width:980px;

}

header.primary{
  background-color: var(--accent-orange);
  padding:20px;
  background-image: url("../img/bg_1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 2.5px #222023 solid;
  display:flex;
  justify-content: space-between;
}

div.hgroup h1 a{
  color: var(--accent-beige);
  text-decoration: none;
  font-size: 3rem;
}

div.hgroup h2{
  color: var(--accent-beige);

}

div.hgroup{
width:70%;  
text-align:left;  
}

header.primary nav{
width:30%; 
}

header.primary nav ul{
  list-style-type:none;
}

.hgroup h1, .hgroup h2{
  margin:0;
}

header.primary nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

header.primary nav ul li a{
  color:#fff;
  display:block;
  margin-bottom: 10px;
  background: rgba(0,0,0,.4);
  border: 1px solid #cc3a67;
  text-decoration: none;
}

header.primary nav ul li a:hover{
  text-decoration: underline;

}

#content{
  line-height: 1.6;
}

#content h2, h3{
  border-left: 10px solid var(--accent-orange);
  border-radius:15px 0;
  padding:5px 7.5px 0 5px;
}

#blog{
  background-color: var(--accent-orange);
  border-top:2rem double var(--accent-dk-purp);
  }

#blog > h2{
  color: var(--accent-beige);
  text-shadow: 2px 2px var(--accent-dk-purp);
}

#blog .post{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  grid-template-areas: 
  "figure header"
  "figure post-content"
  "figure footer"
  ;
}

.post figure{
 grid-area: figure;
}

.post header{
 grid-area: header;
}

.post .post-content{
 grid-area: post-content;
}

.post .post-meta{
 grid-area: footer;
}

aside .container{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
